---
layout: base.njk
title: Благодаря - Роси Йовчева
metaDescription: Благодарим ви за вашето съобщение. Ще се свържем с вас възможно най-скоро.
permalink: /message.html
---

<section class="section-padding contact-section">
    <div class="container">
       <div class="success-message">
        <i class="fas fa-check-circle"></i>
        <h1>Благодарим Ви!</h1>
        <p>Вашето съобщение беше изпратено успешно. Ще се свържа с Вас възможно най-скоро.</p>
        <a href="kontakti.html" class="btn-message">Обратно към контакти</a>
    </div>
    </div>
</section>