---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://www.psiholog-plovdiv.com/</loc>
    <lastmod>2025-05-15</lastmod>
    <priority>1.00</priority>
  </url>
  <url>
    <loc>https://www.psiholog-plovdiv.com/za-men.html</loc>
    <lastmod>2025-05-15</lastmod>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>https://www.psiholog-plovdiv.com/uslugi.html</loc>
    <lastmod>2025-05-15</lastmod>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>https://www.psiholog-plovdiv.com/blog.html</loc>
    <lastmod>2025-05-15</lastmod>
    <priority>0.70</priority>
  </url>
  <url>
    <loc>https://www.psiholog-plovdiv.com/kontakti.html</loc>
    <lastmod>2025-05-15</lastmod>
    <priority>0.70</priority>
  </url>
  {% for blog in blogs %}
  <url>
    <loc>https://www.psiholog-plovdiv.com/{{ blog.id }}.html</loc>
    <lastmod>{{ blog.date }}</lastmod>
    <priority>0.70</priority>
  </url>
  {% endfor %}
</urlset>
