---
layout: base.njk
title: Запитване за час - Роси Йовчева
metaDescription: Направете запитване за консултация с Роси Йовчева, психолог и терапевт в Пловдив. Попълнете формата за удобно планиране на час.
permalink: /zapitvane-za-chas.html
---

<div class="container">
    <div class="contact-grid">
        <div class="contact-form booking-form">
            <h4>Моля, оставете вашите данни за контакт, както и предпочитан ден и час за среща. Ще се свържа с вас
                възможно най-скоро за потвърждение.</h4>
            <form action="https://api.web3forms.com/submit" method="POST">
                <!-- REQUIRED: Your Access key here. Don't worry this can be public -->
                <input type="hidden" name="access_key" value="a0ca6cb0-f52b-4fef-91ec-85b6e3a8c97b">
                
                <!-- Optional: Subject -->
                <input type="hidden" name="subject" value="Запитване за час">
                
                <!-- Optional: From Name -->
                <input type="hidden" name="from_name" value="Роси Йовчева - Психолог">
                
                <!-- Optional: Custom Redirection or Thank you Page -->
                <input type="hidden" name="redirect" value="https://psiholog-plovdiv.com/message.html">
                
                <!-- Optional: But Recommended: To Prevent SPAM Submission -->
                <input type="checkbox" name="botcheck" class="hidden" style="display: none;">

                <div class="form-group">
                    <label for="name">Име *</label>
                    <input type="text" id="name" name="Име" required placeholder="Вашето име">
                </div>
<!--                <div class="form-group">-->
<!--                    <label for="email">Имейл *</label>-->
<!--                    <input type="email" id="email" name="email" required placeholder="Вашият имейл">-->
<!--                </div>-->
                <div class="form-group">
                    <label for="phone">Телефон *</label>
                    <input type="tel" id="phone" name="Телефонен номер" placeholder="Вашият телефон">
                </div>
                <div class="form-group">
                    <label for="date">Ден</label>
                    <input type="date" id="date" name="Ден" required min=""/>

                    <label for="time">Час</label>
                    <input type="time" id="time" name="Час" required/>
                </div>

                <script>
                    // Set the minimum date to two days from today
                    const dateInput = document.getElementById('date');
                    const today = new Date();
                    const twoDaysLater = new Date(today.setDate(today.getDate() + 4));
                    dateInput.min = twoDaysLater.toISOString().split('T')[0];
                </script>
                <button type="submit" class="btn btn-primary">Изпрати</button>
            </form>
        </div>
    </div>
</div>